.content{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: dodgerblue;
    width: 100%;
    padding: 50px;

}

.buttons{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;


}

#displayPass{
    width: 100%;
}

#generatedPassword{
    width: 100%;
}

#slide{
    width:100%;
}

#length{
    display: inline-block;
    width: 75px;
}

/* font attributes*/
h1 {
    text-align:center;
}
h3 {
    text-align: center;
    

}